*{
  margin: 0;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: linear-gradient(
    rgb(21, 65, 130),
    rgb(46, 212, 220)
  );
}
h1{
  color: rgb(30, 30, 31);
  margin-top: 8px;
  margin-bottom: 30px;
}
.form-container{
  margin-right: 300px;
}
form{
  background-color: #fff;
  padding: 0px 40px;
  border-radius: 10px;
}
form,h1{
  color: rgb(30, 30, 31);
  margin-top: 8px;
}
button{
  height: 50px;
  width: 300px;
  margin-left:30%  ;
  margin-right: 45%;
  padding: 10px;
  border: none;
  background-color:rgb(21, 65, 130) ;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
 
  cursor: pointer;
}